@media (max-width: 1560px) 
    .menu
        &__nav
            padding-left: 140px
    .article
        padding: 0 140px
    .tags
        padding: 30px 140px 0 140px
    .posts
        padding: 40px 140px 0 140px
    .info
        &__title
            padding: 84px 140px 58px 140px
        &__wrapper
            padding: 0 140px
            grid-template-columns: .9fr 1.1fr

@media (max-width: 575px) 
    .menu
        &__header
            min-height: 68px
            padding: 10px 10px 13px 20px
        &__wrapper
            display: grid
            justify-content: start
            justify-items: end
            grid-template-columns: 169px 133px
            grid-template-rows: repeat(2, 1fr) 
            column-gap: 15px
            row-gap: 5px
        .mobile
            grid-row: 2/3
        &__warning
            padding: 0
            padding-right: 27px
        &__IPaddress
            padding: 0
        &__ISP
            padding: 0
        &__more
            padding: 0
            padding-left: 10px
        &__close
            right: 10px
            top: 10px
        &__nav
            padding: 0 10px 31px 12px
            &_name
                padding: 0
            &_wrapper
                padding: 0
                display: grid
                grid-template-columns: 24px 136px 126px
                align-items: center
        &__hamburgher
            display: flex
            flex-direction: column
            padding: 27px 0 27px 2px
            span
                width: 24px
                height: 2px
                background: #323642
                border-radius: 3px
                margin: 2.5px 0
        &__nav-list 
                display: none
    
    .article
        padding: 0 20px
        &__wrapper
            height: 600px
            grid-template-rows: repeat(2, 1fr)
            background: url(/img/bitmap_mobile.jpg) no-repeat
        &__item
            grid-row: 2/3
            &_text
                padding: 30px 30px 12px 30px
            &_descr
                padding: 0 30px 10px 30px
            &_tags
                padding: 0 30px 10px 30px
            &_social
                padding: 0 30px 10px 30px 
        &__img
            height: 223px
            width: 335px
    .tags
        display: none
    .posts
        padding: 0
        position: relative
        &__title
            margin-top: 40px
        &__divider
            width: 315px
            margin: 10px 0
            &_long
                display: none
            &_short
                margin: 0
                margin-top: 30px
        &__wrapper
            padding: 88px 30px 0 30px
            grid-template-rows: 0.5fr
            grid-auto-rows: 0.5fr
            grid-template-columns: 315px
        &__item
            flex-direction: column
            width: 315px
            margin: 0
            &_wrapper
                padding: 0
                padding-top: 20px
        
        &__side-column
            grid-column: 1/2
            grid-row: 2/3
            &_item
                margin-top: 60px
            &_list
                width: 315px
        &__search-panel
            position: absolute
            top: 0
            left: 20px
            margin: 40px 0
            input
                width: 335px
        &__img-privacy
            margin-top: 30px
            img
                width: 315px
        &__tag-cloud
            margin-top: 60px

    .promo
        margin-top: 69px
        padding: 0 30px
        &__title
            padding: 60px 40px 30px 40px
            font-size: 32px
            line-height: 44px
        &__wrapper
            flex-direction: column
            align-items: center
        &__item
            margin: 10px 0
            width: 315px
            padding: 48px 55px 40px 55px
            &_active
                padding: 39px 55px
                border: 4px solid #FF8D00
                border-radius: 4px
        &__pay
            flex-direction: column
            margin-top: 26px
            &_title
                margin: 0
                margin-bottom: 20px
            &_wrapper
                display: grid
                grid-template-columns: repeat(3, 1fr)
                grid-template-rows: repeat(3, 55px)
                justify-items: center
                align-items: center
                a
                    padding: 0
                    &:last-child
                        grid-row: 3/4
                        grid-column: 1/4
        &__questions
            margin-top: 40px
            display: grid
            grid-template-columns: 1fr
            grid-template-rows: repeat(2, 1fr)
            row-gap: 34px
            padding-bottom: 40px
    .info
        position: relative
        &__title
            padding: 44px 20px 54px 20px
        &__wrapper
            padding: 0 20px 49px 20px
            grid-template-columns: 1fr
            row-gap: 5px
        &__links
            &_title
                margin-bottom: 18px
            ul
                margin-bottom: 35px
        &__items
            grid-template-columns: repeat(2, 1fr)
            column-gap: 20px
        &__about
            grid-row-start: 2
            &_title
                margin-bottom: 18px
        &__social
            position: absolute
            top: 468px
            left: 200px
            display: flex
            flex-direction: column
            &_links
                display: grid
                grid-template-columns: repeat(3, 1fr)
                grid-template-rows: repeat(2, 1fr)
                row-gap: 26px
            a
                margin-right: 28px

    .btn
        &__login
            display: none
        &__posts
            margin: 50px 30px 0 30px
        &__promo
            &_mobile
                color: #FF8D00
                border: 1px solid #FF8D00
                border-radius: 30px
                &:hover
                    background: linear-gradient(0deg, #FF8D00 3.81%, #FFA400 97.78%)
                    